.main-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
header {
   padding: 1.5rem 0;
}
.header-contact-btn {
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 0.35rem;
   letter-spacing: 1px;
   font-size: 1.1rem;
   color: #fff;
   background: $primary;
   font-weight: 500;
}
.section-title {
   font-size: 2rem;
   color: #3d3d3d;
   padding: 1rem;
   border-radius: 0.35rem;
   background: #dbdbdb;
   box-shadow: 1px 1px 10px #e7e7e7;
   margin-bottom: 0;
}
.main-title-container {
   padding: 0.8rem 1rem;
   border-radius: 0.35rem;
   background: #f0f0f0;
}
.main-title {
   margin-bottom: 0;
   font-size: 1.5rem;
   letter-spacing: 0.3px;
   span {
      color: $primary;
   }
}
.header-nav ul {
   display: flex;
   padding-left: 0;
   margin-bottom: 0;
   li {
      list-style: none;
      margin-left: 2rem;
      a {
         text-decoration: none;
         color: #525252;
         font-size: 1.1em;
         font-weight: 500;
         letter-spacing: 1px;
         &.active {
            color: $primary;
         }
      }
   }
}
footer {
   background: #1e1d1e;
   padding: 1.5rem 0;
   p {
      color: #fff;
      font-weight: 500;
      span {
         color: $primary;
      }
   }
}
